* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    color: #555555;
   
    font-weight: 400; 
    font-size: 15px;
    line-height: 27px;
    margin: 0;
    font-family:"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;

  }
  li{
    list-style: none;
  }
  .container{
    width:1200px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
  }
  section{
    margin-top: 50px;
  }
/* navbar */

.navber{
    justify-content: center !important;
    align-items: center;

  }
  .navber {
    overflow: hidden;
    background: white;
    position: fixed;
    display: flex;
    top: 30px;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
  
    
  }
  .navber .logo{
    margin-right: 62px;
  }
  .menu {
    margin-left: 62px;
  }
  .navber .menu ul li {
    margin-left: 20px  ;
  }
  /* menu */
 
  .menu li a{
    text-decoration: none;
  }
  .navber .menu ul{
    display: flex;
 
  }
  .menu li a{
    text-decoration: none;
  }

  .navber .menu li a {
    text-transform: uppercase;
  color: #233145;
  font-family: 'Work Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  }
  .menu a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .menu a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1);
    z-index: -1;
  }
  
  .menu a:hover {
    transform: scale(1.2);
 
  }
  
  .menu a:hover::before {
    transform: scale(0);
   
  }
   /*  menu active */
.tab-link {
    text-decoration: none;
    color: #233145;
    position: relative;
   
  
  }
  
  .tab-link::before {
    content: "";
  
    width: 30%;
    height: 2px;
    background-color: #233145;
    position: absolute;
    bottom: 0;
    left: 35%;
    transition: height 0.5s ease-in-out;
  
  }
  
  .tab-link.active::before {
  
    background-color: #007bc5;
    transform-origin: left;
    width: 100%;
    left: 0;
  
    z-index: 1;
  }

  /* end menu */
  /* start banner */
  .banner{
    color: #1fd5fd;
    background-image: url(../img/23322.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-top: 150px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-left: 20px;
  }
  .banner-text{
    text-align: center;
  }

  .banner-text h1{
    font-size: 70px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 800;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    font-family: 'Open Sans';
    margin-bottom: 15px;
  }

  .banner-text p{
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }



  /* end banner */
  /* content */.content-img{
    margin-right: 900px;
  }
  .content-img img{
    position: relative;
    z-index: -1;
  }
  .img-content{
   
    background-image: url(../img/Rectangle3563.png) !important;
    margin-top: -170px !important ;
    padding-top: 100px !important ;
    padding-bottom: 40px !important ;
    padding-left: 50px !important;
    width: 430px;
    height: 315px;
  margin-left: 55px;
    background-position: center !important ;
    background-repeat: no-repeat !important ;
    background-size: cover !important ;
 
  }
  .content-img img{
    width: 430px;
    height: 315px;
  }

.content-text span{
  color: #fd7e14;
  font-size: 14px;
    padding-top: 5px;
    letter-spacing: 1px;
    position: relative;
    font-weight: 700;
    
   padding-left: 50px; 
     text-transform: uppercase;
}
 
.content-text span::before{
  background-color: #fd7e14 ;
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.content-text h2{
  margin-top: 10px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}
.content-text p{
  color: #555555;
  
}
/*  */
.content-item{
  border-radius: 10px;
  width: 360px;
  height: 100%;
  position: relative;
  text-align: center;
box-shadow: 0 10px 50px -12px rgba(171,171,171,.9);
background: #fff;
transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
transform: scale(1);
}
.content-item:hover{
  transform: scale(1.05);
    opacity: 0.9;
}
.content-icon {
  padding: 40px 35px;
}
.content-box{
  margin-top: 130px;
}
.content-tamnhin h3{
  color: #007BC2;

text-align: center;
font-family: 'Roboto';
font-size: 22px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 2px;
text-transform: capitalize;

}
.content-tamnhin p{
  color: #151A6A;

text-align: center;
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px; /* 142.857% */
}
.content-tamnhin::after{
      content: '';
    position: absolute;
    bottom: 0;
    right:0 ;
    height: 6px;
    width: 100%;
  border-radius: 0px 0px 7px 7px;
background: #007BC2;
transition: width 1s ease;

transform: scaleX(1);
}

.content-tamnhin:hover::after {
 
  width: 0%;
  left: 0 ;
  
}
.content-sumenh h3{
  color: #35BECB;

text-align: center;
font-family: 'Roboto';
font-size: 22px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 2px;
text-transform: capitalize;
}
.content-sumenh .content-text p{
  color: #151A6A;

text-align: justify;
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px; /* 142.857% */
}
.content-sumenh::after{
  content: '';
  position: absolute;
  bottom: 0;
  right:0 ;

  height: 6px;
  width: 100%;
  border-radius: 0px 0px 7px 7px;
  background: #35BECB;
  transition: width 1s ease;

  transform: scaleX(1);
}
.content-sumenh:hover::after {
 
  width: 0%;
  left: 0 ;
  
}
.content-giatri h3{
  color: #EC1C2C;

text-align: center;
font-family: 'Roboto';
font-size: 22px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 2px;
text-transform: capitalize;
}

.content-giatri p{
  color: #151A6A;
margin-bottom: 10px;
text-align: center;
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px; /* 142.857% */
}
.content-giatri::after{
  content: '';
  position: absolute;
  bottom: 0;
  right:0 ;
  height: 6px;
  width: 100%;
  border-radius: 0px 0px 7px 7px;

  background: #EA4A56;
  transition: width 1s ease;

  transform: scaleX(1);
}

.content-giatri:hover::after {
 
  width: 0%;
  left: 0 ;
  
}
  /* end content */
  /* divider */
  .divider{
    margin-top:100px ;
  }
  /* divider */
   /* ourteam */
   .ourteam-item{
    
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
   }
   .ourteam-item:hover {
    transform: scale(1.05);
    opacity: 0.9;

}
.experts
{
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.ourteam p{
  color: #ff601b;
margin-bottom:1.5rem ;
  font-weight: 600;
  
  
  
}
.ourteam-text h2{
  margin-bottom: 40px;
}
.ourteam-text span{
  margin: 0 auto; 
  margin-bottom: 40px;
  background-color: #ff601b;
  width: 65px;
  display: block;
  height: 4px;

}
.ourteam-text p{
  margin-bottom:7rem;
  color: #9c6064;
}

.ourteam-item img{
  
  border-radius: 10px 10px 0px 0px;
}
.ourteambox-text{
  border-radius: 0px 0px 10px 10px;
}


   .ourteam-box .ourteambox-text{
    border: 0.5px solid #CACACA;
    background: #FAFAFA;
   }
   .ourteambox-text{
    text-align: center;
    padding: 15px 15px;
   }
   .ourteambox-text p{
    color: #1F272A;

text-align: center;
font-family: 'Montserrat';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
text-transform: capitalize;
   }
   .ourteambox-text span{
    color: rgba(31, 39, 42, 0.50);

text-align: center;
font-family: 'Montserrat';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
text-transform: capitalize;
   }
   /* end ourteam */
   /* icon partner */
   .icon-partner{
    background-image: radial-gradient(#222528 10%, transparent 30%);
    background-size: 20px 20px ;
  
    justify-content: center;
    align-items: center;
    background-color: #233145;
    width: 100%;
height: 300px;
   }
   .icon-partner{

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .icon-partner img{

  margin-right: 104.3px;
  }
  .icon-partner img:last-child {
    margin-right: 0;
  }
   /* end partner */
   footer {
 
    background: #242424;
    color: white;
  
    padding: 50px;
  }
  .footerall {
    display: flex;
    align-items: center;
  }
  .logo__footer {
    width: 168.315px;
    height: 107px;
    margin-left: 20%;
  }
  .footer__ct {
    margin-left: 50px;
  }
  .footer__ct li {
    margin-top: 10px;
  }
  .footer__lh {
    margin-left: 20%;
    word-wrap: break-word;
    /* hoặc */
  }
  .footer__lh li {
    margin-top: 10px;
  }
  .footer__lh li i {
    margin: 10px;
  }
  .footer__ct span {
    margin-left: 35px;
    background-color: #ff6017;
    display: block;
    width: 54.425px;
    height: 1px;
  }
  .footer__lh span {
    margin-left: 35px;
    border: 1px solid #000;
    background: #ec1c2c;
    display: block;
    width: 122.961px;
    height: 1px;
  }
  .footer__ct p {
    
    color:  #fcfcfc;
  margin-left: 35px;
    font-family: "M PLUS 1p";
    font-size: 12.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 207.9%;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  .footer__ct ul {
    color: #fcfcfc;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%; /* 19.602px */
    letter-spacing: 1.2px;
    text-transform: capitalize;
  }
  .footer__lh p {
    color: #fcfcfc;
    margin-left: 35px;
    font-family: "M PLUS 1p";
    font-size: 12.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 207.9%;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  .footer__lh ul {
    color:  #fcfcfc;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
    letter-spacing: 1.2px;
  }
  /* 
   */
   #backToTopBtn {
    width: 40px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    text-align: center;
    height: 40px;
    background: #2b73bd;
    color: #fff;
 
    border: none;
    border-radius: 5px;
    transition: all ease 0.5s;
  
  
  }
  
  #backToTopBtn:hover {
    border-radius: 50%;
    background-color: white;
    color: #000 ;
    border: 1px solid #000 ;
  }