* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #555555;
 
  font-weight: 400; 
  font-size: 15px;
  line-height: 27px;
  margin: 0;
  font-family:"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

li {
  list-style: none;
}

/* navbar */

.navber {
  justify-content: center !important;
  align-items: center;
}

.navber {
  overflow: hidden;
  background: white;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.navber .logo {
  margin-right: 62px;
}

.menu {
  margin-left: 62px;
}

.navber .menu ul li {
  margin-left: 20px;
}

/* menu */

.menu li a {
  text-decoration: none;
}

.navber .menu ul {
  display: flex;
}

.menu li a {
  text-decoration: none;
}

.navber .menu li a {
  text-transform: uppercase;
  color: #233145;
  font-family: 'Work Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.menu a {
  position: relative;
  display: inline-block;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  transform: scale(1);
  z-index: -1;
}

.menu a:hover {
  transform: scale(1.2);
}

.menu a:hover::before {
  transform: scale(0);
}

/* tab active */
/*  menu active */
.tab-link {
  text-decoration: none;
  color: #233145;
  position: relative;
}

.tab-link::before {
  content: "";

  width: 30%;
  height: 2px;
  background-color: #233145;
  position: absolute;
  bottom: 0;
  left: 35%;
  transition: height 0.5s ease-in-out;
}

.tab-link.active::before {
  background-color: #007bc5;
  transform-origin: left;
  width: 100%;
  left: 0;

  z-index: 1;
}

/* banner */

.banner-header {
  position: relative;
}

.banner-content {
  position: absolute;
  top: 40%;
  left: 3%;

  justify-content: center;
}

.banner-content h3 {
  color: #1fd5fd;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  font-family: 'Open Sans';
  font-size: 70px;
  font-style: normal;
  font-weight: 800;

  letter-spacing: 1px;
}

.banner-content p {
  color: #fff;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* banner box */
.box-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-box {
  top: 85%;
  position: absolute;
}

.banner-box col {
  margin: 0;
}

.box-icon {
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  background: #e1eef9;
  text-align: center;
  justify-content: center !important;
  align-items: center !important;

  width: 318px;
  height: 362px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(1);
}

.box-icon:hover {
  transform: scale(1.05);
  z-index: 1;
  opacity: 1;
 
}
.box-logo {
  width: 60px;
  height: 60px;
}

.box-text {
  display: flex;
  width: 290px;
  height: 166px;
  flex-direction: column;
  justify-content: center;
}

.box-text h6 {
  color: #007bc2;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.box-text p {
  color: #343a40;
  text-align: center;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 133.333% */
  text-transform: uppercase;
}

.box-img {
  background-image: url(../img/Rectangle.png);
  position: relative;
 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e485b;
  opacity: 0.5;
}

.box-img h6 {
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.box-logo img {
  position: relative;
}

.box-img p {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 24px;  */
  text-transform: uppercase;
}

/*  */
.banner-box .row>* {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* end banner box   */
/* NRMS là gì */
.content-NRMS {
  padding: 20rem 30rem 0rem 30rem;
}

.nrms-header {
  color: #fa5b25;
  font-family:'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-dn {
  margin: 0;
}

.nrms-img {
  margin-top: 4rem;
}

.nrms-img img {
  height: 340px;
}

.nrms-text h5 {
  text-align: center;
}

.nrms-text p {
  color: #909090;
}

.nrms-text .text-icon i {
  color: #5790cb;
}

.boxnrms-number {
  background-image: radial-gradient(#233145 0%, transparent 20%);
  background-size: 15px 15px !important;

  justify-content: center;
  align-items: center;
  background-color: #007bc5;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
}

.boxnrms-number h2 {
  color: white;
}

.boxnrms-number p {
  color: white;
  margin-bottom: 0 !important;
}

/* end */
/* patition */
.patition {
  display: flex;
  margin-top: 55px;
  width: 100%;
  height: 185px;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.patition-img img {
  width: 100%;
  height: 100%;
}

/* end */
/* start proservi */
.proservi {
  padding: 6rem 29rem 0rem 29rem;
  margin-bottom: 70px;
}

.proservi h1 {
  text-align: center;
}
.proservi-box {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(1);
}

.proservi-box:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


.box-proservi {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding: 45px 45px 10px 45px;
  /* Đặt giá trị padding cố định */
  margin-top: 30px;

  border-radius: 5px;
  box-sizing: border-box;
  /* Đặt box-sizing thành border-box */

  width: 300px;
}

.proservi-img img {
  width: 40px;
  height: 38.5px;
}

.proservi-text span {
  color: #999999;
  margin-bottom: 30px;
  font-size: 11px;
}

.proservi-text {
  margin-top: 70px;
}

.proservi-text p {
  color: #233145;
  font-family: 'Roboto';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.proservi-img i {
  position: relative;
  background-color: #f7f7f7;
  padding: 10px;
  left: 86%;
}

/* end producr and sẻrvice */
/* partition-logo */
.partition-logo {
  background-color: #233145;
  width: 100%;
  height: 300px;
}
.partition-logo{
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(1);
}
.partition-logo img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.partition-logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partition-logo img {
  width: 174px;
  height: 150.622px;
  margin-right: 104.3px;
}

.partition-logo img:last-child {
  margin-right: 0;
}

/* end partition-logo */
/* start Collaborative Projects */
.projects {
  margin-top: 70px;
  text-align: center;

  align-items: center;
  justify-content: center;
}

.projects h1 {
  text-align: center;
  font-family: 'Roboto';
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
}

.project-itemimg img {
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(1);
}
.project-itemimg img:hover {
  transform: scale(1.05);
    opacity: 0.9;
}

.projects-tab {
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.projects-tab a {
  margin-right: 55px;
  text-decoration: none;
  color: #b2b2b4;
}

.projects-tab a:last-child {
  margin-right: 0;
}

.project-item {
  padding: 2rem 29rem 0rem 29rem;
  justify-content: center;
  align-items: center;
}

.project-item .row {
  margin-top: 40px;
}

/* end Collaborative Projects */
/* donghanh */
.donghanh {
  margin-top: 80px;
  background-image: url(../img/image\ 4.png);
  width: 100%;
  height: 241px;
  background-size: cover;
}

.donghanh {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.donghanh .text1 {
  color: #31aef6;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  /* 120% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.donghanh .text2 {
  color: #fff;
  font-family:'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.donghanh .text3 {
  color:  #fcfcfc;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.35%;
  /* 22.869px */
  letter-spacing: 2.1px;
}

/* end Dong hanh */
/*   <!-- start tin tuc cong nghệ --> */
.tintuc {
  padding: 7rem 29rem 0rem 29rem;
}

.tintuc .tintuccn {
  font-size: 17px;

  padding-top: 5px;
  position: relative;
  letter-spacing: 1px;
  padding-left: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff5e14;
  margin-bottom: 30px;
}

.tintuccn::before {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #233145;
}

.tintuc h2 {
  margin-top: 3rem;
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 2rem;
}

.tintuc span {
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
}

.tintuc a {
  text-decoration: none;
  font-weight: 600;
}

a.readmore {
  position: relative;
  text-decoration: none;
  color: #2b73bd;
}

.readmore::before {
  top: 70%;
  content: "";
  pointer-events: none;
  position: absolute;
  left: 100%;
  width: 6px;
  height: 6px;
  background: #2b73bd;
  margin-top: -3px;
  margin-left: 13px;
  border-radius: 50%;
}

.readmore::after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 70%;
  left: 100%;
  width: 88px;
  height: 1px;
  background: linear-gradient(to right, #2b73bd 0%, rgba(237, 66, 102, 0) 100%) !important;
  margin-top: -1px;
  margin-left: 15px;
}

/* <!-- end tin tuc cong nghe --> */
/* start footer */
.footer {
  padding: 0rem 29rem 0rem 29rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background: #242424;
  width: 100%;
  height: 259px;
  color: white;
}

.text-footer1 p {
  margin-left: 55px;
  color:  #fcfcfc;
  /* Title/Small */
  font-family: 'Mplus 1p';
  font-size: 12.6px;
  font-style: normal;
  font-weight: 800;
  line-height: 207.9%;
  /* 26.195px */
  letter-spacing: 6px;
  text-transform: uppercase;
}

.text-footer2 p {
  margin-left: 30px;
  color:  #fcfcfc;
  /* Title/Small */
  font-family: 'Mplus 1p';
  font-size: 12.6px;
  font-style: normal;
  font-weight: 800;
  line-height: 207.9%;
  /* 26.195px */
  letter-spacing: 6px;
  text-transform: uppercase;
}

.ul-text1 {
  display: flex;
}

.ul-text1 li {
  margin-left: 20px;
}

.text-footer1 ul li {
  color: #fcfcfc;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.35%;
  /* 19.602px */
  letter-spacing: 1.2px;
}
.text-footer1 .line-red::after{
  
  content: ""; 
    background-color: #ff6017;
    display: block;
    width: 54.425px;
    height: 1px;
}
.text-footer2 .line-black::after{
  content: ""; 
  border: 1px solid #000;
  background: #ec1c2c;
  display: block;
  width: 122.961px;
  height: 1px;
}

.text-footer2 ul li {
  color: #fcfcfc;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.35%;
  /* 19.602px */
  letter-spacing: 1.2px;
}
.text-footer2 ul li i{
  color: #fcfcfc;

  font-size: 20px; 
  margin-right: 20px;
  line-height: 163.35%;


}

.text-footer1 ul li span {
  color:  #fcfcfc;
  font-family: 'Open Sans';
  font-size: 10px;
  font-style: italic;
  font-weight: 300;
  line-height: 222.75%;
  /* 22.275px */
  letter-spacing: 1px;
}

.text-footer1 ul li .in-dam {
  color:  #fcfcfc;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1px;
}

/* end footer */
/* tab */
.tab a {
  color: #97a4c2;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tab-button {
  text-decoration: none;
  position: relative;
  color: #2b73bd;
}

.tab-button::after {
  content: "";
  display: block;
  width: 0;
  height: 7px;
  top: 10px;
  right: 100%;
  background-color: #2b73bd;
  position: absolute;
  bottom: -2px;
  justify-content: center;
  margin-right: 7px;
  align-items: center;
  transition: width 0.3s ease-in-out;
}

.tab-button:hover::after,
.tab-button.active::after {
  width: 20px;
}

.tab-text:hover::after,
.tab-text.active::after {
  color: #2b73bd;
}

.tab-content {
  display: none;
}

/* end tab */
#backToTopBtn {
  width: 40px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  text-align: center;
  height: 40px;
  background: #2b73bd;
  color: #fff;

  border: none;
  border-radius: 5px;
  transition: all ease 0.5s;


}

#backToTopBtn:hover {
  border-radius: 50%;
  background-color: white;
  color: #000 ;
  border: 1px solid #000 ;
}