* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    color: #555555;
   
    font-weight: 400; 
    font-size: 15px;
    line-height: 27px;
    margin: 0;
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;

  }
  li{
    list-style: none;
  }
  .container{
    width:1200px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
  }
  section{
    margin-top: 50px;
  }
  /* navbar */

.navber{
    justify-content: center !important;
    align-items: center;

  }
  .navber {
    overflow: hidden;
    background: white;
    position: fixed;
    display: flex;
    top: 30px;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
  
    
  }
  .navber .logo{
    margin-right: 62px;
  }
  .menu {
    margin-left: 62px;
  }
  .navber .menu ul li {
    margin-left: 20px  ;
  }
  /* menu */
 
  .menu li a{
    text-decoration: none;
  }
  .navber .menu ul{
    display: flex;
 
  }
  .menu li a{
    text-decoration: none;
  }

  .navber .menu li a {
    text-transform: uppercase;
  color: #233145;
  font-family: 'Work Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  }
  .menu a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .menu a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1);
    z-index: -1;
  }
  
  .menu a:hover {
    transform: scale(1.2);
 
  }
  
  .menu a:hover::before {
    transform: scale(0);
   
  }
   /*  menu active */
.tab-link {
    text-decoration: none;
    color: #233145;
    position: relative;
   
  
  }
  
  .tab-link::before {
    content: "";
  
    width: 30%;
    height: 2px;
    background-color: #233145;
    position: absolute;
    bottom: 0;
    left: 35%;
    transition: height 0.5s ease-in-out;
  
  }
  
  .tab-link.active::before {
  
    background-color: #007bc5;
    transform-origin: left;
    width: 100%;
    left: 0;
  
    z-index: 1;
  }

  /* end menu */
  /* start banner */
  .banner{
    color: #1fd5fd;
    background-image: url(../img/23322.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-top: 150px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-left: 20px;
  }
  .banner-text{
    text-align: center;
  }

  .banner-text h1{
    font-size: 70px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 800;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    font-family: 'Open Sans';
    margin-bottom: 15px;
  }

  .banner-text p{
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }



  /* end banner */
  /* main */
  .title-box{
    margin-top: 5rem;
    margin-bottom: 5rem;

  }
  .title-input p{
    color: #555555;
  
  }
  .title-input h3{
    color: #222222;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
  }
  .title-input span{
    background-color: #007bc5;
    margin-top: 25px;
    display: block;
    width: 65px;
    margin-bottom: 35px;
    height: 4px;
  }
  .box2 .input2{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .box1 .input2{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .box2 .input1{
    margin-top: 30px;

  }
  .input1{
    
    transition: transform 0.3s ease-in-out; 
    transform-origin: center;
  }
  .input1:hover{
    transform: scale(1.2);
    border: 1px solid #000;
  }
  .input2{
    transition: transform 0.3s ease-in-out;   
  }

  .input2:hover{
    transform: scale(1.2);
    border: 1px solid #000;
  }
  .box3{
    transition: transform 0.3s ease-in-out; 
    transform-origin: center;
  }
  .box3:hover{
    transform: scale(1.2);
    border: 1px solid #000;
  }
  .box1 .input1{
    margin-top: 30px;

  }
  .button1{
    margin-top: 30px;
    padding: 14px 40px;
  border-radius:3px ;
   background-color: #ff5e14;
 
      color: #fff;
      border: none;
      transition: transform 0.3s ease;
    
   }
   .button1:hover{
    transform: scale(0.8);
   background-color: #36172c;
   font-weight: 500;
      color: #fff;
     
      
    
   }
  
   .box2 input{
    background: #f7f7f7;
    border: none;
    border-radius:5px ;
   }
   .box2 input:focus {
    outline:none; /* Đặt viền khi input có focus */
}
.box1 input{
  width: 100%;
  padding: 9px 37px;
}
.box2 input{
  width: 100%;
  padding: 9px 37px;
}
.box1 input{
  background: #f7f7f7;
  border: none;
  border-radius:5px ;
 }
 .box1 input:focus {
  outline:none; /* Đặt viền khi input có focus */
}

   .box3{
    background: #f7f7f7;
    border: none;
    border-radius:5px ;
    width: 100%;
    padding: 9px 37px;
        max-height: 130px; 
    line-height: 28px;
   }
   .box3:focus {
    outline:none; /* Đặt viền khi input có focus */
}
/*  */
.title-information{
  margin-left: 10rem;

}
.title-information{

 border: 2px solid #ff5e14;



}
.inforamtion-text{
  padding: 1.5rem ;
}
.visitbox{
  display: flex;
  padding: 1rem ;
}
.visitbox .visit-icon{
  height: 50px;
  background-color: #ff5e14;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  margin-right: 1.5rem;
  line-height: 2; 
  width: 50px;
}
.inforamtion-text .visit-icon {
  transition: transform 0.2s ease-in-out;
}
.inforamtion-text .visit-icon:hover{
  transform: translateY(-10px);
}
.inforamtion-text .phone-icon {
  transition: transform 0.2s ease-in-out;
}
.inforamtion-text .phone-icon:hover{
  transform: translateY(-10px);
}
.inforamtion-text .mail-icon {
  transition: transform 0.2s ease-in-out;
}
.inforamtion-text .mail-icon:hover{
  transform: translateY(-10px);
}


.phonebox{
  display: flex;
  padding: 1rem ;
}
.phonebox  .phone-icon{
  height: 50px;
  background-color: #ff5e14;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  margin-right: 1.5rem;
  line-height: 2; 
  width: 50px;
}
.mailbox{
  display: flex;
  padding: 1rem ;
}
.mailbox  .mail-icon{
  height: 50px;
  background-color: #ff5e14;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  margin-right: 1.5rem;
  line-height: 2; 
  width: 50px;
}
/*  */
  /* map */
  .map{
    margin-top: 30px;
  }
 
  /* main */
     /* end partner */
     footer {
 
        background: #242424;
        color: white;
      
        padding: 50px;
      }
      .footerall {
        display: flex;
        align-items: center;
      }
      .logo__footer {
        width: 168.315px;
        height: 107px;
        margin-left: 20%;
      }
      .footer__ct {
        margin-left: 50px;
      }
      .footer__ct li {
        margin-top: 10px;
      }
      .footer__lh {
        margin-left: 20%;
        word-wrap: break-word;
        /* hoặc */
      }
      .footer__lh li {
        margin-top: 10px;
      }
      .footer__lh li i {
        margin: 10px;
      }
      .footer__ct span {
        margin-left: 35px;
        background-color: #ff6017;
        display: block;
        width: 54.425px;
        height: 1px;
      }
      .footer__lh span {
        margin-left: 35px;
        border: 1px solid #000;
        background: #ec1c2c;
        display: block;
        width: 122.961px;
        height: 1px;
      }
      .footer__ct p {
        
        color: #fcfcfc;
      margin-left: 35px;
        font-family: "M PLUS 1p";
        font-size: 12.6px;
        font-style: normal;
        font-weight: 800;
        line-height: 207.9%;
        letter-spacing: 6px;
        text-transform: uppercase;
      }
      .footer__ct ul {
        color:  #fcfcfc;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.35%; /* 19.602px */
        letter-spacing: 1.2px;
        text-transform: capitalize;
      }
      .footer__lh p {
        color:  #fcfcfc;
        margin-left: 35px;
        font-family: "M PLUS 1p";
        font-size: 12.6px;
        font-style: normal;
        font-weight: 800;
        line-height: 207.9%;
        letter-spacing: 6px;
        text-transform: uppercase;
      }
      .footer__lh ul {
        color: #fcfcfc;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.35%;
        letter-spacing: 1.2px;
      }
      /* 
       */
       #backToTopBtn {
        width: 40px;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        text-align: center;
        height: 40px;
        background: #2b73bd;
        color: #fff;
     
        border: none;
        border-radius: 5px;
        transition: all ease 0.5s;
      
      
      }
      
      #backToTopBtn:hover {
        border-radius: 50%;
        background-color: white;
        color: #000 ;
        border: 1px solid #000 ;
      }