* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #555555;
   
    font-weight: 400; 
    font-size: 15px;
    line-height: 27px;
    margin: 0;
    font-family:"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
  a {
    text-decoration: none;
    color: #233145;
  }
  li {
    list-style: none;
  }
  /* menu */
  .menu {
    position: relative;
  }
  .menu ul {
    display: flex;
  }
  .menu {
    display: flex;
    
  }
  .menu {
    text-transform: uppercase;
    color: #233145;
    font-family: 'Work Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 184.615% */
  }
  .menu ul li {
    margin-right: 30px;
  }
  
  /*  menu active */
  .tab-link {
    text-decoration: none;
    color: #233145;
    position: relative;
   
  
  }
  
  .tab-link::before {
    content: "";
  
    width: 30%;
    height: 2px;
    background-color: #233145;
    position: absolute;
    bottom: 0;
    left: 35%;
    transition: height 0.5s ease-in-out;
  
  }
  
  .tab-link.active::before {
  
    background-color: #007bc5;
    transform-origin: left;
    width: 100%;
    left: 0;
  
    z-index: 1;
  }
  
  
  
  /* end menu active */
  /* menu */
  .menu ul li .dv {
    margin-top: 10px;
    background-color: #007bc5;
    display: block;
    width: 120px;
    height: 3px;
  }
  .menu a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .menu a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1);
    z-index: -1;
  }
  
  .menu a:hover {
    transform: scale(1.2);
    background-color: white; /* Thay đổi màu sắc tùy ý */
  }
  
  .menu a:hover::before {
    transform: scale(0);
    background-color: rgba(30, 29, 29, 0.5); /* Thay đổi màu sắc tùy ý */
  }
  .header {
    background-image: url(../img/23322.png);
  
    width: 100%;
    height: 100%;
    padding: 135px;
  
    color: #fff;
  
    background-size: cover;
  }
  .text-header {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .text-header h1 {
    color: #1fd5fd;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    font-family: 'Open Sans';
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 50%; /* 31.429% */
    letter-spacing: 1px;
  }
  .text-header p {
    margin-top: 58px;
    color: #fff;
    font-family:'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .menu i {
    font-size: 20px;
  }
  /* header */
  
  .navbar {
    overflow: hidden;
    background: white;
    position: fixed;
    display: flex;
    top: 30px;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .logo img {
    width: 70%;
    height: 70%;
  }
  .logo {
    margin-right: 50px;
  }
  
  /* content */
  .content {
    margin-top: 30px;
    background-color: white;
  }
  
  .content .content__name {
    justify-content: center;
    align-items: center;
  }
  
  .content__name {
    display: flex;
  }
  .content__name a {
    margin: 60px;
    color: #233145;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  /* tab */
  .tab-button {
    text-decoration: none;
    position: relative;
    color: #000;
  }
  
  .tab-button::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    top: 75%;
    right: 120%;
    background-color: #ff6017;
    position: absolute;
    bottom: -2px;
    transition: width 0.3s ease-in-out;
  }
  
  .tab-button:hover::after,
  .tab-button.active::after {
    width: 40px;
  }
  .tab-text:hover::after,
  .tab-text.active::after {
    color: #000;
  }
  /* end tab */
  .content__name a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
    color: #97a4c2;
  }
  
  .content__name a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1);
    z-index: -1;
  }
  
  .content__name a:hover {
    transform: scale(1.2);
    background-color: white;
    color: #000;
    /* Thay đổi màu sắc tùy ý */
  }
  
  .content__name a:hover::before {
    transform: scale(0);
    background-color: rgba(30, 29, 29, 0.5); /* Thay đổi màu sắc tùy ý */
  }
  
  .content__sanpham {
    display: flex;
    justify-content: center;
  }
  .tab-content {
    display: none;
  }
  .grid-item {
    display: grid;
    justify-items: center;
  
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .image-item  img {
    width: 382px;
    height: 271px;
  }
  
  /* dich vu */
  .grid-dichvu {
    display: grid;
    justify-items: center;
  
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(2, 0fr);
    gap: 30px;
  }
  .image-item img{

    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);

  }
  .image-item img:hover{
    transform: scale(1.05);
    opacity: 0.9;
  }
  .dichvu_item {
    background-image: url(../img/tintuc.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 330px;
    height: 245px;
    border-radius: 10px;
    place-items: center; /* Căn giữa cả theo chiều dọc và chiều ngang */
    text-align: center; /* Căn giữa nội dung ngang theo ý muốn */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
  }
  .dichvu_item:hover{
    transform: scale(1.05);
    opacity: 0.9;
  }
  .content__dichvu {
    display: flex;
    justify-content: center;
  }
  .dichvu_item {
    display: flex;
    flex-direction: column; /* Hiển thị phần tử con theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    text-align: center; /* Căn giữa nội dung ngang theo ý muốn */
  }
  
  .dichvu_item p {
    color: #fff;
    font-family: "Roboto";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  /*  */
  footer {
    margin-top: 10%;
    background: #242424;
    color: white;
  
    padding: 50px;
  }
  .footerall {
    display: flex;
    align-items: center;
  }
  .logo__footer {
    width: 168.315px;
    height: 107px;
    margin-left: 20%;
  }
  .footer__ct {
    margin-left: 50px;
  }
  .footer__ct li {
    margin-top: 10px;
  }
  .footer__lh {
    margin-left: 20%;
    word-wrap: break-word;
    /* hoặc */
  }
  .footer__lh li {
    margin-top: 10px;
  }
  .footer__lh li i {
    margin: 10px;
  }
  .footer__ct span {
    background-color: #ff6017;
    display: block;
    width: 54.425px;
    height: 1px;
  }
  .footer__lh span {
    border: 1px solid #000;
    background: #ec1c2c;
    display: block;
    width: 122.961px;
    height: 1px;
  }
  .footer__ct p {
    color:  #fcfcfc;
  
    font-family: "M PLUS 1p";
    font-size: 12.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 207.9%;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  .footer__ct ul {
    color:  #fcfcfc;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%; /* 19.602px */
    letter-spacing: 1.2px;
    text-transform: capitalize;
  }
  .footer__lh p {
    color: #fcfcfc;
  
    font-family: "M PLUS 1p";
    font-size: 12.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 207.9%;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  .footer__lh ul {
    color:  #fcfcfc;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
    letter-spacing: 1.2px;
  }
  /* 
   */
  
  @media screen and (min-width: 200px) and (max-width: 500px) {
    .content__sanpham img {
      width: 100%;
      height: auto;
    }
    .logo__footer {
      margin-left: 10%;
    }
  
    .footer__ct {
      margin-left: 30px;
    }
  
    .footer__lh {
      margin-left: 10%;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 800px) {
    .content__sanpham img {
      width: 50%;
      height: auto;
    }
    .logo__footer {
      margin-left: 5%;
    }
  
    .footer__ct {
      margin-left: 20px;
    }
  
    .footer__lh {
      margin-left: 5%;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 900px) {
    .content__sanpham img {
      width: 33.33%;
      height: auto;
    }
    .logo__footer {
      margin-left: 3%;
    }
  
    .footer__ct {
      margin-left: 10px;
    }
  
    .footer__lh {
      margin-left: 3%;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1024px) {
    .grid-item {
      grid-template-columns: repeat(2, 0fr);
    }
    .logo__footer {
      margin-left: 2%;
    }
  
    .footer__ct {
      margin-left: 5px;
    }
  
    .footer__lh {
      margin-left: 2%;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 2080px) {
    .grid-item {
      grid-template-columns: repeat(3, 0fr);
    }
  }
  @media screen and (min-width: 2080px) {
    .grid-item {
      grid-template-columns: repeat(4, 0fr);
    }
  }
  #backToTopBtn {
    width: 40px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    text-align: center;
    height: 40px;
    background: #2b73bd;
    color: #fff;
 
    border: none;
    border-radius: 5px;
    transition: all ease 0.5s;
  
  
  }
  
  #backToTopBtn:hover {
    border-radius: 50%;
    background-color: white;
    color: #000 ;
    border: 1px solid #000 ;
   
  }