* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #555555;
 
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;

    margin: 0;
    font-family: "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
}

section {
    margin-top: 50px;
}

/* navbar */

.navber {
    justify-content: center !important;
    align-items: center;

}

.navber {
    overflow: hidden;
    background: white;
    position: fixed;
    display: flex;
    top: 30px;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    z-index: 1;



}

.navber .logo {
    margin-right: 62px;
}

.menu {
    margin-left: 62px;
}

.navber .menu ul li {
    margin-left: 20px;
}

/* menu */

.menu li a {
    text-decoration: none;
}

.navber .menu ul {
    display: flex;

}

.menu li a {
    text-decoration: none;
}

.navber .menu li a {
    text-transform: uppercase;
    color: #233145;
    font-family: 'Work Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.menu a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1);
    z-index: -1;
}

.menu a:hover {
    transform: scale(1.2);

}

.menu a:hover::before {
    transform: scale(0);

}

/*  menu active */
.tab-link {
    text-decoration: none;
    color: #233145;
    position: relative;


}

.tab-link::before {
    content: "";

    width: 30%;
    height: 2px;
    background-color: #233145;
    position: absolute;
    bottom: 0;
    left: 35%;
    transition: height 0.5s ease-in-out;

}

.tab-link.active::before {

    background-color: #007bc5;
    transform-origin: left;
    width: 100%;
    left: 0;

    z-index: 1;
}

/* end menu */
/* start banner */
.banner {
    color: #1fd5fd;
    background-image: url(../img/23322.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-top: 150px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-left: 20px;
}

.banner-text {
    text-align: center;
}

.banner-text h1 {
    font-size: 70px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 800;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    font-family: 'Open Sans';
    margin-bottom: 15px;
}

.banner-text p {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}



/* end banner */
/* main */
.main{
    margin-top: 7rem;
    margin-bottom: 5rem;
}
/* bên Trái */

.blog-text p{
    font-weight: 700;
    font-size: 20px;

}
.blog-text ul{
    margin-top: 2rem;
}
a.readmore {
  
    position: relative;
    text-decoration: none;
    color: #ff5e14;
    font-size: 16px;
    font-weight: 500;
}
.readmore::before {
    top: 70%;
    content: "";
    pointer-events: none;
    position: absolute;
    left: 100%;
    width: 6px;
    height: 6px;
    background: #ff5e14;;
    margin-top: -3px;
    margin-left: 13px;
    border-radius: 50%;
}
.readmore::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 70%;
    left: 100%;
    width: 88px;
    height: 1px;
    background: linear-gradient(to right, #ff5e14 0%,rgba(237,66,102,0) 100%)!important;
    margin-top: -1px;
    margin-left: 15px;
}
.blog-text{
    margin-top: 2rem;
}
.blog-img{
    margin-top: 2rem;
}

/* end bên trái */

/* bên phải */

/* input */
.search-form .input-group {
    border: 1px solid #e4e4e4;
}

.input-group input {
    border-radius: 0;
}

.search-form .input-group .form-control {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    border-right: 0;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-radius: 0;
}

.input-group {
    position: relative;
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.search-form .input-group .btn {
    background: transparent;
    padding: 0 16px;
}

.search-form .input-group .btn i {
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
}

.btn-secondary i {
    color: #ff5e14;

}

.btn {
    border: 1px solid #ced4da;
    background-color: white;
    border-radius: 0;
    border-left: 0;
}


.btn:first-child:hover {
 
    background-color: white;
    border: 1px solid #ced4da;
    border-left: 0;
}

/* input */
/* folder */
.folder-item a {
    color: #555555;
}

.fo a {
    color: #555555;
}

.folder-item a i {
   
    transform: unset;
    color: #0d3ca0;

    font-size: 18px;
    margin-left: -29px;
    margin-right: 39px;
    transition: transform 0.2s ease-in-out;
    

}

.folder-item:hover {
   font-weight: 700;

   
    

}
.folder-item a i:hover {
    transform: translateY(-10px);
    
    color: #a00d4a;

}

.folder-box li {
    margin-bottom: 15px;
}

.folder-box li:last-child {
    margin-bottom: 30px;
    /* Loại bỏ margin-bottom cho phần tử cuối cùng */
}

.folder h3::after {
    content: "";
    margin-top: 20px;
    margin-bottom: 30px;
    height: 3px;
    width: 40px;
    display: block;
    background-color: #ff5e14;

}

.tag h3::after {
    content: "";
    margin-top: 20px;
    margin-bottom: 30px;
    height: 3px;
    width: 40px;
    display: block;
    background-color: #ff5e14;

}
.tag-cloud-link{
    transition: transform 0.2s ease-in-out;
}
.tag-cloud-link:hover{
    transform: translateY(-10px);
}

.tagcloud .tag-cloud-link {
    font-size: 14px;
    font-weight: 400;
    padding: 9px 16px 10px;
    display: inline-block;
    text-decoration: none;
    line-height: normal;
    margin-bottom: 12px;
    margin-right: 6px;
    letter-spacing: 1px;
    border: 2px solid #eaeaea;
    color: #252a37;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;


}

.social h3::after {
    content: "";
    margin-top: 20px;
    margin-bottom: 30px;
    height: 3px;
    width: 40px;
    display: block;
    background-color: #ff5e14;

}

/* end folder */
.social-icon li {
    display: inline-block;

}

.social-icon li a {
    display: inline-block;
    text-align: center;
    height: 46px;
    line-height: 46px;
    margin-right: 5px;
    width: 46px;
    font-size: 17px;
    color: white;
}


.social-icon .social-facebook {
    background: #3b5999;
    transition: transform 0.2s ease-in-out;
    border-radius:10px ;
  
}
.social-facebook:hover {
    transform: translateY(-10px);
    border: 2px solid #000;
    background: #fff;
    color: #000;
}

.social-icon .social-twitter {
    background: #000000;
    
    border-radius:10px ;
    transition: transform 0.2s ease-in-out;
}
.social-twitter:hover {
    transform: translateY(-10px);
    border: 2px solid #000;
    background: #fff;
    color: #000;
}


.social-icon .social-instagram {
    background: linear-gradient(to left bottom, #e4405f, #FFD700);
    border-radius:10px ;
    transition: transform 0.2s ease-in-out;
}
.social-icon .social-instagram:hover {
    transform: translateY(-10px);
    border: 2px solid #000;
    background: #fff;
    color: #000;
}


.social-icon .social-printerest {
    background: #bd081c;
    border-radius:10px ;
    transition: transform 0.2s ease-in-out;
}
.social-icon .social-printerest:hover {
    transform: translateY(-10px);
    border: 2px solid #000;
    background: #fff;
    color: #000;
}

.social-icon .social-linkedin {
    background: #0077B5;
    border-radius:10px ;
    transition: transform 0.2s ease-in-out;
}
.social-icon .social-linkedin:hover {
    transform: translateY(-10px);
    border: 2px solid #000;
    background: #fff;
    color: #000;
    
}
.right2{
    margin-top:30rem ;
}

/* end bên phải */
/* main */
/* end partner */
footer {

    background: #242424;
    color: white;

    padding: 50px;
}

.footerall {
    display: flex;
    align-items: center;
}

.logo__footer {
    width: 168.315px;
    height: 107px;
    margin-left: 20%;
}

.footer__ct {
    margin-left: 50px;
}

.footer__ct li {
    margin-top: 10px;
}

.footer__lh {
    margin-left: 20%;
    word-wrap: break-word;
    /* hoặc */
}

.footer__lh li {
    margin-top: 10px;
}

.footer__lh li i {
    margin: 10px;
}

.footer__ct span {
    margin-left: 35px;
    background-color: #ff6017;
    display: block;
    width: 54.425px;
    height: 1px;
}

.footer__lh span {
    margin-left: 35px;
    border: 1px solid #000;
    background: #ec1c2c;
    display: block;
    width: 122.961px;
    height: 1px;
}

.footer__ct p {

    color: #fcfcfc;
    margin-left: 35px;
    font-family: "M PLUS 1p";
    font-size: 12.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 207.9%;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.footer__ct ul {
    color: #fcfcfc;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
    /* 19.602px */
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.footer__lh p {
    color: #fcfcfc;
    margin-left: 35px;
    font-family: "M PLUS 1p";
    font-size: 12.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 207.9%;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.footer__lh ul {
    color:  #fcfcfc;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
    letter-spacing: 1.2px;
}

/* 
       */
       /*  */
       /*  */
       #backToTopBtn {
        width: 40px;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        text-align: center;
        height: 40px;
        background: #2b73bd;
        color: #fff;
     
        border: none;
        border-radius: 5px;
        transition: all ease 0.5s;
      
      
      }
      
      #backToTopBtn:hover {
        border-radius: 50%;
        background-color: white;
        color: #000 ;
        border: 1px solid #000 ;
      }